:host {
  border-radius: var(--border-radius);
  flex: 1 1 calc(24 * var(--sizing-factor));
  position: relative;
  transform-style: preserve-3d;
  perspective-origin: center;
}

:host(:hover) .front {
  animation-name: flip-front;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
:host(:hover) .back {
  animation-name: flip-back;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

:host .front {
  backface-visibility: hidden;
  height: 100%;
}

:host .front__poster {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

:host .movie__release {
}

:host .movie__sinopsis {
}

:host .movie__poster {
}

:host .back {
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

@keyframes flip-front {
  0% {
    transform: rotateY(0deg) perspective(330px);
  }
  50% {
    transform: rotateY(90deg) perspective(330px);
  }
  100% {
    transform: rotateY(180deg) perspective(330px);
  }
}

@keyframes flip-back {
  0% {
    transform: rotateY(180deg) perspective(330px);
  }
  50% {
    transform: rotateY(270deg) perspective(330px);
  }
  100% {
    transform: rotateY(360deg) perspective(330px);
  }
}
